{% extends "base.html" %}

{% block title %}
    Create
{% endblock %}

{% block content %}
    <form action="{{ url_for('create') }}" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="class" placeholder="Class" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="location" placeholder="Location" type="text"/>
        </div>
        <div class="form-group">
                                                                <div class="container">
                                                        <div class="row">
                                                            <div class='col-sm-6'>
                                                                <div class="form-group">
                                                                    <div class='input-group date' id='datetimepicker1'>
                                                                        <input type='text' class="form-control" />
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <script type="text/javascript">
                                                                $(function () {
                                                                    $('#datetimepicker1').datetimepicker();
                                                                });
                                                            </script>
                                                        </div>
                                                    </div>

        </div>      
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
{% endblock %}
