{% extends "base.html" %}

{% block title %}
    Create
{% endblock %}

{% block content %}
    <form action="{{ url_for('create') }}" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="class" placeholder="Class" type="text"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="location" placeholder="Location" type="text"/>
        </div>
        <div class="form-group">
            <div class="well">
  <div id="datetimepicker2" class="input-append">
    <input data-format="MM/dd/yyyy HH:mm:ss PP" type="text"></input>
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('#datetimepicker2').datetimepicker({
      language: 'en',
      pick12HourFormat: true
    });
  });
</script>
<!--                                                                 <div class="container">
                                        <div class="row">
                                            <div class='col-sm-6'>
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input type='text' class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
<!--                                             <script type="text/javascript">
                                                $(function () {
                                                    $('#datetimepicker1').datetimepicker();
                                                });
                                            </script> -->
                                        </div>
                                    </div> -->
        </div>
        <div class="form-group">
            <input type="time" name="usr_time">
<!--             <input type="submit"> -->
        </div>		
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
{% endblock %}
