{% extends "base.html" %}

{% block title %}
    Edit
{% endblock %}

{% block content %}
    <form action="{{ url_for('edit') }}" method="post">
        <div class="form-group">
            <input type="hidden" name="id" value="{{events["id"]}}">
            <input type="hidden" name="type" value="post">
            <input autocomplete="off" autofocus class="form-control" name="class" value="{{events["class"]}}" type="text"/>
        </div>
        
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="location" value="{{events["location"]}}" type="text"/>
        </div>
        
        <div class="form-group">             
              <input type="datetime-local" name="startDatetime" value={{events["starttime"]}}>
        </div> 
        
        <div class="form-group">            
              <input type="datetime-local" name="endDatetime" value={{events["endtime"]}}>        
        </div>
                   
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Edit</button>
        </div>
    </form>
{% endblock %}
