{% extends "base.html" %}

{% block title %}
	Manage
{% endblock %}

{% block content %}
	<div class="container">
		<h2>Events</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>User</th>
					<th>Class</th>
					<th>Location</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				{% for event in events[:10] %}
					<tr>
						<th>{{name}}</th>
						<th>{{event["class"]}}</th>
						<th>{{event["location"]}}</th>
						<th>{{event["starttime"]}}</th>
						<th>{{event["endtime"]}}</th>
						<th>
							<form action="/edit" method="post">
								<input type="hidden" name="edit" value="{{event["id"]}}">
								<button type="submit" class="btn btn-warning" name="edit2">Edit</button>
							</form>
							
						</th>
						<th>
							<form action="/delete" method="post">
								<input type="hidden" name="delete" value="{{event["id"]}}">
								<button type="submit" class="btn btn-danger" name="delete2">Delete</button>
							</form>
						</th>
					</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</div>
{% endblock %}
