{% extends "base.html" %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="search" placeholder="Search class" type="text"/>
        </div>
        
        
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    

<!--     <div class="container">
		<h2>Events</h2>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>User</th>
					<th>Class</th>
					<th>Location</th>
					<th>Start Time</th>
					<th>End Time</th>
				</tr>
			</thead>
			<tbody>
				{% for event in events[:10] %}
					<tr>
						<th>{{event["name"]}}</th>
						<th>{{event["class"]}}</th>
						<th>{{event["location"]}}</th>
						<th>{{event["starttime"]}}</th>
						<th>{{event["endtime"]}}</th>
					</tr>
				{% endfor %}
				
			</tbody>
		</table>
	</div> -->
	   </form>
{% endblock %}
